@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Space Grotesk";
    src: url(/font/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
  }
  @font-face {
    font-family: "Ubuntu";
    src: url(/font/Ubuntu.ttf) format("truetype");
  }
  @font-face {
    font-family: "OpenDyslexic3";
    src: url(/font/OpenDyslexic3-Bold.ttf) format("truetype");
  }
}

:root {
  /* background */
  --color-bg: #eeeeee;
  --color-bg-reverse: #131212;
  /* text */
  --color-text: #131212;
  --color-text-reverse: #eeeeee;
  --color-text-secondary: #cc00ff;
  /* border */
  --border-clr: #131212;
  --border-clr-reverse: #eeeeee;
  --border-access: 0;
  /* button */
  --button-bg: #cc00ff;
  --button-bg-reverse: #cc00ff;
  --button-text: #eeeeee;
  --button-text-reverse: #eeeeee;
}
[data-theme="theme1"] {
  /* background */
  --color-bg: #131212;
  --color-bg-reverse: #131212;
  /* text */
  --color-text: #eeeeee;
  --color-text-reverse: #eeeeee;
  --color-text-secondary: #eeeeee;
  /* border */
  --border-clr: #eeeeee;
  --border-clr-reverse: #eeeeee;
  --border-access: 2px;
  /* button */
  --button-bg: #131212;
  --button-bg-reverse: #eeeeee;
  --button-text: #eeeeee;
  --button-text-reverse: #131212;
}

[data-theme="theme2"] {
  /* background */
  --color-bg: #000080;
  --color-bg-reverse: #000080;
  /* text */
  --color-text: #ffff00;
  --color-text-reverse: #ffff00;
  --color-text-secondary: #ffff00;
  /* border */
  --border-clr: #ffff00;
  --border-clr-reverse: #ffff00;
  --border-access: 2px;
  /* button */
  --button-bg: #000080;
  --button-bg-reverse: #ffff00;
  --button-text: #ffff00;
  --button-text-reverse: #000080;
}

[data-font-theme="default"] {
  --font-family-titre: "Space Grotesk";
  --font-family-paragraph: "Ubuntu";
}

[data-font-theme="font1"] {
  --font-family-titre: "OpenDyslexic3";
  --font-family-paragraph: "OpenDyslexic3";
}

[data-interligne-theme="default"] {
  --interligne-custom: normal;
}

[data-interligne-theme="interligne1"] {
  --interligne-custom: 170%;
}

body * {
  line-height: var(--interligne-custom);
}
